{% extends "index.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block menu %}{% include 'menu.html' %}{% endblock %}
{% block contenido %}
<div class="container">
    <div class="section no-pad-bot" id="index-banner"> 
      <h3 class="header center orange-text">{% block titulo %}{% endblock %}</h3>
      <div class="row center">
        <form method="post">{% csrf_token %}
            <p>{% blocktrans %}Esta seguro de borrar el elemento {{ object }}?{% endblocktrans %}</p>
            <input type="submit" value="Confirmar">
        </form>
      </div>
      <br><br>
    </div>
</div>    
{% endblock %}
