{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block menu %}{% include 'menu.html' %}{% endblock %}
{% block contenido %}
    </br>
    <div class="row">
        <div class="col-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>{% block titulo %}{% endblock %}
                </div>
                <div class="panel-body">{% block formulario %}{% crispy form %}{% endblock %}</div>
            </div>
        </div>
        <div class="col-4 mb-4">
            {% block tabla_asociados %}{% endblock %}
        </div>
    </div>   
{% endblock %}
