{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block contenido %}
    </br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i>{% block titulo %}{{ object.nombre }}{% endblock %}
        </div>
        <div class="panel-body">
            {% block btn_nuevo %}{% endblock %}
            {% block cuerpo %}
            <table class="table striped">
                <thead>{% block titulo_tabla %}{% endblock %}</thead>
                <tbody>{% block cuerpo_tabla %}{% endblock %}</tbody>
            </table>
            {% endblock %}
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
            {% endif %}
        </span>
    </div>
    </br>
{% endblock %}
