{% extends "index.html" %}
{% load i18n %}
{% block cuerpo_total %}
<div class="container">
<div class="row">
    <div class="col-12 p-5">
        <center>
        </br>
        </br>
        </br>
        <div class="login-panel panel panel-default w-50">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans 'Por favor identifiquese' %}</h3>
            </div>
            <div class="panel-body">
                {% if mensaje != "" %}
                <div class="alert alert-warning" role="alert">
                  {{ mensaje }}
                </div>
                {% endif %}
                <form role="form" method="post" action="{% url 'seguridad:inicio_session' %}">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
        </center>
    </div>
</div>
</div>
{% endblock %}
