{% load i18n %}
<div class="row">
    <div class="col-md-4">
        {% trans 'Nombre' %}
        <input type="text" class="form-control" v-model="nombre_adjunto">
        {% trans 'Descripcion' %}
        <textarea class="form-control" v-model="descripcion_adjunto"></textarea>
        {% trans 'Documento' %}
        <input type="file" class="form-control" @change="processFile($event)">
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans 'Arrastre un documento en esta area para agregarlo' %}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <td>{% trans 'Nombre' %}</td>
                        <td>{% trans 'Descripcion' %}</td>
                        <td>{% trans 'Documento' %}</td>
                        <td>{% trans 'Peso en bytes' %}</td>
                        <td></td>
                    </tr>
                    <tr v-for="file in files">
                        <td><input type="text" class="form-control" v-model="file.nombre"></td>
                        <td><textarea  class="form-control" v-model="file.descripcion"></textarea></td>
                        <td>[[ file.documento.name ]]</td>
                        <td>[[ file.documento.size ]]</td>
                        <td><button class="btn btn-sm btn-danger pull-right mb-1" @click="removeFile(file)" title="Remove">X</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <button class="btn btn-primary pull-right" @click="guardar">{% trans 'Guardar' %}</button>
    </div>
</div>