{% load i18n %}
<div class="row">
    <div class="col-md-8">
        <div class="input-group">
            <input type="search" v-model="busqueda" class="form-control">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal" @click="buscar">
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                </span>{% trans 'Buscar' %}</button>
            </span>
        </div>
    </div>
</div>
<div class="row" v-if="analisis_de_perdidas.length">
    <div class="col-md-12">
        </br>
        <table class="table table-striped">
            <tr>
                <td>{% trans 'Evento' %}</td>
                <td>{% trans 'Fecha' %}</td>
                <td v-for="p in productos_analisis">[[ getProducto(p).fields.nombre ]]</td>
            </tr>
            <tr v-for="evento in analisis_de_perdidas">
                <td>[[ evento.fields.nombre ]]</td>
                <td>[[ evento.fields.fecha ]]</td>
                <td v-for="p in productos_analisis">[[ valorRegistro(p, evento) ]]</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        </br>
        <a  data-toggle="tab" class="btn btn-primary pull-right" href="#adjuntos">{% trans 'Siguiente' %}</a>
         </br>
        </br>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Seleccionar evento' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
            <tr>
                <td><b>{% trans 'Nombre del evento' %}</b></td>
                <td><b>{% trans 'Fecha de Fin' %}</b></td>
            </tr>
            <tr v-for="evento in eventos"  data-dismiss="modal" @click="seleccionarEvento(evento)">
                <td>[[ evento.fields.nombre ]]</td>
                <td>[[ evento.fields.fecha_fin ]]</td>
            </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cerrar' %}</button>
      </div>
    </div>
  </div>
</div>