{% load i18n %}
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<div class="row">
    <div class="col-md-8">
        </br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#criteriaModal">
            {% trans 'Siguiente' %}
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#effectModal">
            {% trans 'Siguiente' %}
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Seleccionar evento' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
            <tr>
                <td><b>{% trans 'Nombre del evento' %}</b></td>
                <td><b>{% trans 'Fecha de Fin' %}</b></td>
            </tr>
            <tr v-for="evento in eventos"  data-dismiss="modal" @click="seleccionarEvento(evento)">
                <td>[[ evento.fields.nombre ]]</td>
                <td>[[ evento.fields.fecha_fin ]]</td>
            </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cerrar' %}</button>
      </div>
    </div>
  </div>
</div>