{% load i18n %}
<div class="row">
    <div class="col-md-12" v-html="factoresDeCausa({pk:null})"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <a  data-toggle="tab" class="btn btn-primary pull-right" href="#analisis_de_perdidas">{% trans 'Siguiente' %}</a>
        </br>
        </br>
    </div>
</div>