{% load i18n %}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="nombre">{% trans 'Evento' %}</label>
            <input type="text" class="form-control" v-model="nombre" id="nombre" placeholder="Nombre evento">
        </div>
        <div class="form-group">
            <label for="fecha_inicio">{% trans 'Fecha y hora inicio' %}</label>
            <input type="datetime-local" class="form-control" v-model="fecha_inicio" id="fecha_inicio" placeholder="Fecha inicio">
        </div>
        <div class="form-group">
            <label for="fecha_fin">{% trans 'Fecha y hora fin' %}</label>
            <input type="datetime-local" class="form-control" v-model="fecha_fin" id="fecha_fin" placeholder="Fecha fin">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="nombre">{% trans 'Sucursal' %}</label>
            <select class="form-control" v-model="sucursal">
                <option v-for="s in sucursales" :value="s.pk" :key="s.pk">[[ s.fields.nombre ]]</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nombre">{% trans 'Division' %}</label>
            <select class="form-control" v-model="division">
                <option v-for="d in divisiones" v-if="d.fields.sucursal==sucursal" :value="d.pk" :key="d.pk">[[ d.fields.nombre ]]</option>
            </select>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="evento_cerrado">
            <label>{% trans 'Cerrar' %}</label>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <h3>{% trans 'Origen de la falla' %}</h3>
        <div class="form-group" v-for="aa, index in areas">
            <label for="nombre">{% trans 'Nivel' %} [[ index + 1 ]]</label>
            <select class="form-control" v-model="aa.item" @change="seleccionarArea(aa.item, index)">
                <option  v-for="a in aa" :value="a.pk" :key="a.pk">[[ a.fields.nombre ]]</option>
            </select>
        </div>
        <div class="form-group" v-if="area">
            <label for="nombre">{% trans 'Grupo de equipos' %}</label>
            <select class="form-control" v-model="grupo">
                <option v-for="g in grupos" v-if="g.fields.area==area" :value="g.pk" :key="g.pk">[[ g.fields.nombre ]]</option>
            </select>
        </div>
        <div class="form-group" v-if="grupo">
            <label for="nombre">{% trans 'Equipo' %}</label>
            <select class="form-control" v-model="equipo">
                <option v-for="e in equipos" v-if="e.fields.grupo==grupo" :value="e.pk" :key="e.pk">[[ e.fields.nombre ]]</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <h3>{% trans 'ISO FAILIURE CAT' %}</h3>
        <div class="form-group">
            <label>{% trans 'Modo de falla' %}</label>
            <select class="form-control" v-model="modo_de_falla">
                <option  v-for="a in modos_de_falla" :value="a.pk" :key="a.pk">[[ a.fields.nombre ]]</option>
            </select>
        </div>
        <div class="form-group">
            <label>{% trans 'Metodo de deteccion' %}</label>
            <select class="form-control" v-model="metodo_de_deteccion">
                <option  v-for="a in metodos_de_deteccion" :value="a.pk" :key="a.pk">[[ a.fields.nombre ]]</option>
            </select>
        </div>
        <div class="form-group">
            <label>{% trans 'Condicion de falla' %}</label>
            <select class="form-control" v-model="condicion_de_falla">
                <option  v-for="a in condiciones_de_falla" :value="a.pk" :key="a.pk">[[ a.fields.nombre ]]</option>
            </select>
        </div>
        <div class="form-group">
            <label>{% trans 'Accion correctiva' %}</label>
            <select class="form-control" v-model="accion_correctiva">
                <option  v-for="a in acciones_correctivas" :value="a.pk" :key="a.pk">[[ a.fields.nombre ]]</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="nombre">{% trans 'Descripcion del evento' %}</label>
            <textarea class="form-control" rows="5" v-model="descripcion" id="descripcion" placeholder="Descripcion del evento"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a  data-toggle="tab" class="btn btn-primary pull-right" href="#investigacion">{% trans 'Siguiente' %}</a>
        </br>
        </br>
    </div>
</div>
