<!-- Modal -->
<div class="modal fade" id="effectModal" tabindex="-1" role="dialog" aria-labelledby="effectModalLabel" aria-hidden="true" style="overflow-y: auto;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="effectModalLabel">Effect chart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div>
          <button class="btn btn-sm pull-right" @click="newEffect(null)">+</button>
          <template v-for="effect in effects">
            <div class="row">
              <div :class="'col-md-12 '+nivel_effect(effect, 0, true)">
                <label>[[ nivel_effect(effect, 0) ]] Effect</label>
              </div>
              <div class="col-md-12">
                <label>Effect</label>
                <input class="form-control" v-model="effect.effect">
              </div>
              <div class="col-md-6">
                <label>Reason</label>
                <select class="form-control" v-model="effect.reason">
                  <option>Select</option>
                  <option>Caused by</option>
                  <option>Becouse</option>
                </select>
                <label>Mode</label>
                <select class="form-control" v-model="effect.mode">
                  <option>Select</option>
                  <option>Sensed</option>
                  <option>Inferred</option>
                </select>
              </div>
              <div class="col-md-6">
                <label>Indique</label>
                <input class="form-control" v-model="effect.indique">
                <label>Evidence</label>
                <input class="form-control" v-model="effect.evidence">
              </div>
              <div class="col-md-12">
                <label>Estatus</label>
                <select class="form-control" v-model="effect.status" @change="changeStatus(effect)">
                  <option>Select</option>
                  <option>To develop further</option>
                  <option>Continue</option>
                  <option>Stop</option>
                </select>
              </div>
              <button class="btn btn-sm pull-right" @click="newEffect(effect)">+</button>
            </div>
            <hr>
          </template>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#criteriaModal">Atras</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Terminar</button>
      </div>
    </div>
  </div>
</div>