{% extends "index.html" %}
{% load i18n %}
{% block contenido %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% trans 'Nuevo evento planeado' %}</h1>
    </div>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">{% trans 'General' %}</a></li>
  <li><a data-toggle="tab" href="#menu1">{% trans 'Analisis de perdidas' %}</a></li>
  <li><a data-toggle="tab" href="#menu2">{% trans 'Adjuntos' %}</a></li>
</ul>

<div class="tab-content" v-cloak @drop.prevent="addFile" @dragover.prevent>
  <div id="home" class="tab-pane fade in active">
    <h3>{% trans 'General' %}</h3>
    {% include 'perdidas/datos_evento.html' %}
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>{% trans 'Analisis de perdidas' %}</h3>
    {% include 'perdidas/analisis_de_perdidas.html' %}
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>{% trans 'Adjuntos' %}</h3>
    {% include 'perdidas/adjuntos.html' %}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFToken';
var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
        empresa: '{{ empresa }}',
        sucursales:{{ sucursales|safe }},
        divisiones:{{ divisiones|safe }},
        areas:[{{ areas|safe }}],
        productos:{{ productos|safe }},
        productos_analisis:[],
        unidadesDeMedida:{{ unidadesDeMedida|safe }},
        grupos:{{ grupos|safe }},
        equipos:{{ equipos|safe }},
        eventos: [],
        registros: [],
        analisis_de_perdidas: [],
        nombre: '',
        referencia_wbs: '',
        busqueda: '',
        fecha_inicio: null,
        fecha_fin: null,
        area: 0,
        sucursal: 0,
        grupo: 0,
        equipo:0,
        division:0,
        files:[],
        descripcion: '',
        nombre_adjunto: '',
        descripcion_adjunto: '',
    },
    computed: {
        uploadDisabled() {
          return this.files.length === 0;
        }
    },
    methods: {
        seleccionarArea: function(area, index){
            if(index < this.areas.length - 1){
                this.areas = this.areas.slice(0, index + 1)
            }
            const vm = this;
            data = { 'area': area };
            this.area = area;
            axios.post('{% url "perdidas:obtener_areas" %}',data).then(function (resultado) {
                resultado = JSON.parse(resultado.data);
                if(resultado.length>0){
                    vm.areas.push(resultado);
                }
            }).catch(function (error) {
                alert("Hubo problemas"+error);
            });
        },
        agregarArea: function(resultado){
            html = "<select v-model='area'>";
            for(elemento in resultado){
                html += "<option value='"+elemento.pk+"'>"+elemento.fields.nombre+"</option>";
            }
            html = "</select>";
        },
        validarElemento: function(nombre, valor){
            if(valor == '' || valor == 0){
              alert('el campo '+ nombre +' esta incompleto, por favor reviselo e intente guardar de nuevo');
              return false;
            }
            return true;
        },
        guardar: function(){
            if(!this.validarElemento('nombre evento', this.nombre)){return}
            if(!this.validarElemento('descripcion', this.descripcion)){return}
            if(!this.validarElemento('fecha_inicio', this.fecha_inicio)){return}
            if(!this.validarElemento('fehcha_fin', this.fecha_fin)){return}
            if(!this.validarElemento('division', this.division)){return}
            if(!this.validarElemento('equipo', this.equipo)){return}
            const vm = this;
            let formData = new FormData();
            this.files.forEach((f,x) => {
              formData.append('file'+(x+1), f.documento);
              formData.append('name_file'+(x+1), f.nombre)
              formData.append('desc_file'+(x+1), f.descripcion)
            });
            formData.append('nombre', this.nombre);
            formData.append('referencia_wbs', this.referencia_wbs);
            formData.append('fecha_inicio', this.fecha_inicio);
            formData.append('fecha_fin', this.fecha_fin);
            formData.append('equipo', this.equipo);
            formData.append('division', this.division);
            formData.append('descripcion', this.descripcion);
            formData.append('productos', JSON.stringify(this.productos));
            formData.append('analisis_de_perdidas', JSON.stringify(this.analisis_de_perdidas));
            axios.post('{% url "perdidas:evento_planeado" %}',formData).then(function (resultado) {
                window.location.assign('{% url "perdidas:evento_planeado" %}');
            }).catch(function (error) {
                alert("Hubo problemas"+error);
            });
        },
        seleccionarUnidadDeMedida: function(producto){
            unidades = this.unidadesDeMedida.filter(e => producto.fields.unidades_de_medida.includes(e.pk));
            if(unidades.length > 0){
                producto.fields.unidad_de_medida = unidades[0].pk
                return unidades[0].fields.nombre;
            }
            return '';
        },
        buscar: function(producto){
        const vm = this;
            data = {'busqueda' : this.busqueda};
             axios.post('{% url "perdidas:buscar_evento" %}',data).then(function (resultado) {
                vm.eventos = JSON.parse(resultado.data);
            }).catch(function (error) {
                alert("Hubo problemas"+error);
            });
        },
        obtenerRegistros: function(evento){
            const vm = this;
            data = {'evento' : evento.pk};
             axios.post('{% url "perdidas:obtener_registros" %}',data).then(function (resultado) {
                vm.registros = vm.registros.concat(JSON.parse(resultado.data));
                vm.registros.forEach(function(element){
                    if(!vm.productos_analisis.includes(element.fields.producto)){
                        vm.productos_analisis.push(element.fields.producto)
                    }
                })
            }).catch(function (error) {
                alert("Hubo problemas"+error);
            });
        },
        seleccionarEvento: function(evento){
            this.analisis_de_perdidas.push(evento);
            this.obtenerRegistros(evento);
        },
        getProducto: function(pk){
            return this.productos.filter(element => element.pk == pk)[0];
        },
        addFile(e) {
          let droppedFiles = e.dataTransfer.files;
          if(!droppedFiles) return;
          ([...droppedFiles]).forEach(f => { this.files.push({'nombre':'', 'descripcion':'', 'documento':f});});
        },
        removeFile(file){
          this.files = this.files.filter(f => { return f != file;});
        },
        processFile(event) {
          for (var i = 0; i < event.target.files.length; i++) {
            this.files.push({'nombre': this.nombre_adjunto, 'descripcion': this.descripcion_adjunto, 'documento': event.target.files.item(i)});
          }
        },
        cantidadProducto(cantidad) {
          if(cantidad==null){
            return 0;
          }
          return cantidad;
        },
        valorRegistro(producto, evento) {
            producto = this.getProducto(producto);
            valor = this.registros.filter(e => e.fields.evento == evento.pk && e.fields.producto == producto.pk)[0];
            return (valor == null) ? 0 : valor.fields.cantidad;
        }
    }
})
</script>
{% endblock %}