{% extends "index.html" %}
{% load i18n %}
{% block contenido %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% trans 'Evento no planeado' %}</h1>
    </div>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">{% trans 'General' %}</a></li>
  <li><a data-toggle="tab" href="#investigacion">{% trans 'Investigation' %}</a></li>
  <li><a data-toggle="tab" href="#causal_factors">{% trans 'Causal Factors' %}</a></li>
  <li><a data-toggle="tab" href="#analisis_de_perdidas">{% trans 'Analisis de perdidas' %}</a></li>
  <li><a data-toggle="tab" href="#adjuntos">{% trans 'Adjuntos' %}</a></li>
</ul>

<div class="tab-content" v-cloak @drop.prevent="addFile" @dragover.prevent>
  <div id="home" class="tab-pane fade in active">
    <h3>{% trans 'General' %}</h3>
    {% include 'perdidas/datos_evento_no_planeado.html' %}
  </div>
  <div id="investigacion" class="tab-pane fade">
    <h3>{% trans 'Investigation' %}</h3>
    {% include 'perdidas/investigation.html' %}
  </div>
  <div id="causal_factors" class="tab-pane fade">
    <h3>{% trans 'Causal factors' %}</h3>
    {% include 'perdidas/causal_factors.html' %}
  </div>
  <div id="analisis_de_perdidas" class="tab-pane fade">
    <h3>{% trans 'Analisis de perdidas' %}</h3>
    {% include 'perdidas/analisis_de_perdidas.html' %}
  </div>
  <div id="adjuntos" class="tab-pane fade">
    <h3>{% trans 'Adjuntos' %}</h3>
    {% include 'perdidas/adjuntos.html' %}
  </div>
  {% include 'perdidas/analisis.html' %}
  {% include 'perdidas/significancia.html' %}
  {% include 'perdidas/threshold_criteria.html' %}
  {% include 'perdidas/effects.html' %}
</div>
{% endblock %}
{% block scripts %}
<script>
axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFToken';
var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
        que: '',
        cuando: '',
        evento_1: '',
        evento_2: '',
        evento_3: '',
        lugar_del_evento: '',
        lugar_relativo_del_evento: '',
        descripcion_del_lugar: '',
        related_investigation: '',

        injury_of_any_kind: '',
        reportable_release_or_outside_complaint: '',
        operating_rates_below_50_percent_or_less_than_500_lbs_hr: '',
        loss_of_critical_system_or_equipment: '',
        one_time_maint_cost: '',
        repeat_failure_4_x_per_year: '',
        supply_change_deviation: '',


        investigation_observations: '',
        why_1: '',
        why_2: '',
        why_3: '',
        why_4: '',
        why_5: '',
        evento_cerrado: false,

        empresa: '{{ empresa }}',
        sucursales:{{ sucursales|safe }},
        divisiones:{{ divisiones|safe }},
        areas:[{{ areas|safe }}],
        productos:{{ productos|safe }},
        productos_analisis:[],
        unidadesDeMedida:{{ unidadesDeMedida|safe }},
        categorias:{{ categorias|safe }},
        frecuencias:{{ frecuencias|safe }},
        consecuencias:{{ consecuencias|safe }},
        probabilidades:{{ probabilidades|safe }},
        causal_factors:{{ causal_factors|safe }},
        modos_de_falla:{{ modosDefalla |safe }},
        metodos_de_deteccion:{{ metodosDeDeteccion |safe }},
        condiciones_de_falla:{{ condicionesDeFalla |safe }},
        acciones_correctivas:{{ accionesCorrectivas |safe }},
        modo_de_falla: '',
        metodo_de_deteccion: '',
        condicion_de_falla: '',
        accion_correctiva: '',
        etiquetas:{{ etiquetas|safe }},
        grupos:{{ grupos|safe }},
        equipos:{{ equipos|safe }},
        eventos: [],
        registros: [],
        analisis_de_perdidas: [],
        nombre: '',
        referencia_wbs: '',
        busqueda: '',
        fecha_inicio: null,
        fecha_fin: null,
        area: 0,
        sucursal: 0,
        grupo: 0,
        equipo:0,
        division:0,
        files:[],
        descripcion: '',
        nombre_adjunto: '',
        descripcion_adjunto: '',
        effects: [{parent:null, reason:"Select", mode:"Select", effect:"", indique: "", evidence: "", status: "Select"}]
    },
    computed: {
        uploadDisabled() {
          return this.files.length === 0;
        }
    },
    methods: {
        changeStatus: function(effect){
          if(effect.status == 'Continue'){
            this.newEffect(effect);
          }
        },
        newEffect: function(parent = null){
          new_effect = {parent:parent, reason:"Select", mode:"Select", effect:"", indique: "", evidence: "", status: "Select"};
          efectos = [];
          for(i in this.effects){
            efectos.push(this.effects[i]);
            if(this.effects[i] == parent){
              efectos.push(new_effect);
            }
          }
          this.effects = efectos;
          if(parent == null){
            this.effects.push(new_effect);
          }
        },
        nivel_effect: function(effect, count, color = false){
          if(effect.parent == null){
            if(color){
              colores = ["azul", "verde", "morado"];
              if(count > colores.length){
                return colores[colores.length - 1];
              }else{
                return colores[count];
              }
            }
            return count;
          }
          else{
            count += 1;
            return this.nivel_effect(effect.parent, count, color);
          }
        },
        factoresDeCausa: function(element){
            if(element.pk == null ){
              html = '<div class="col-md-12" id="capa'+element.pk+'">';
            }else{
              html = '<div class="col-md-12 collapse" id="capa'+element.pk+'">';
            }
            const hijos = this.causal_factors.filter(e => e.fields.padre == element.pk);
            if(hijos.length > 0){
              for(i in hijos){
                factor = hijos[i];

                if(element.pk == null ){
                  html += '<div class="col-md-6">';
                  html += '<a data-toggle="collapse" href="#capa'+factor.pk+'" class="btn btn-sm btn primary pull-right"><i class="fa fa-chevron-down"></i></a>';
                  html += '<label>'+factor.fields.nombre+'</label><br>';
                }else{
                  html += '<div class="col-md-12">';
                  html += '<a data-toggle="collapse" href="#capa'+factor.pk+'" class="btn btn-sm btn primary pull-right"><i class="fa fa-chevron-down"></i></a>';
                  html += '<label><input type="checkbox" ref="factor_'+factor.pk+'" value="first_checkbox">'+factor.fields.nombre+'</label><br>';
                }
                html += this.factoresDeCausa(factor);
                html += '</div>';
              }
            }
            html += '</div>';
            return html
        },
        seleccionarArea: function(area, index){
            if(index < this.areas.length - 1){
                this.areas = this.areas.slice(0, index + 1)
            }
            const vm = this;
            data = { 'area': area };
            this.area = area;
            axios.post('{% url "perdidas:obtener_areas" %}',data).then(function (resultado) {
                resultado = JSON.parse(resultado.data);
                if(resultado.length>0){
                    vm.areas.push(resultado);
                }
            }).catch(function (error) {
                alert("Hubo problemas"+error);
            });
        },
        agregarArea: function(resultado){
            html = "<select v-model='area'>";
            for(elemento in resultado){
                html += "<option value='"+elemento.pk+"'>"+elemento.fields.nombre+"</option>";
            }
            html = "</select>";
        },
        validarElemento: function(nombre, valor){
            if(valor == '' || valor == 0){
              alert('el campo '+ nombre +' esta incompleto, por favor reviselo e intente guardar de nuevo');
              return false;
            }
            return true;
        },
        guardar: function(){
            if(!this.validarElemento('nombre evento', this.nombre)){return}
            if(!this.validarElemento('descripcion', this.descripcion)){return}
            if(!this.validarElemento('fecha_inicio', this.fecha_inicio)){return}
            if(!this.validarElemento('fehcha_fin', this.fecha_fin)){return}
            if(!this.validarElemento('division', this.division)){return}
            if(!this.validarElemento('equipo', this.equipo)){return}
            const vm = this;
            let formData = new FormData();

            this.files.forEach((f,x) => {
              formData.append('file'+(x+1), f.documento);
              formData.append('name_file'+(x+1), f.nombre)
              formData.append('desc_file'+(x+1), f.descripcion)
            });

            formData.append('que', this.que);
            formData.append('cuando', this.cuando);
            formData.append('evento_1', this.evento_1);
            formData.append('evento_2', this.evento_2);
            formData.append('evento_3', this.evento_3);
            formData.append('lugar_del_evento', this.lugar_del_evento);
            formData.append('lugar_relativo_del_evento', this.lugar_relativo_del_evento);
            formData.append('descripcion_del_lugar', this.descripcion_del_lugar);
            formData.append('related_investigation', this.related_investigation);
            formData.append('injury_of_any_kind', this.injury_of_any_kind);
            formData.append('reportable_release_or_outside_complaint', this.reportable_release_or_outside_complaint);
            formData.append('operating_rates_below_50_percent_or_less_than_500_lbs_hr', this.operating_rates_below_50_percent_or_less_than_500_lbs_hr);
            formData.append('loss_of_critical_system_or_equipment', this.loss_of_critical_system_or_equipment);
            formData.append('one_time_maint_cost', this.one_time_maint_cost);
            formData.append('repeat_failure_4_x_per_year', this.repeat_failure_4_x_per_year);
            formData.append('supply_change_deviation', this.supply_change_deviation);
            formData.append('investigation_observations', this.investigation_observations);
            formData.append('why_1', this.why_1);
            formData.append('why_2', this.why_2);
            formData.append('why_3', this.why_3);
            formData.append('why_4', this.why_4);
            formData.append('why_5', this.why_5);
            formData.append('evento_cerrado', this.evento_cerrado);

            formData.append('categorias', JSON.stringify(this.categorias));
            formData.append('efectos', JSON.stringify(this.effects));

            formData.append('modo_de_falla', this.modo_de_falla);
            formData.append('metodo_de_deteccion', this.metodo_de_deteccion);
            formData.append('condicion_de_falla', this.condicion_de_falla);
            formData.append('accion_correctiva', this.accion_correctiva);

            formData.append('nombre', this.nombre);
            formData.append('fecha_inicio', this.fecha_inicio);
            formData.append('fecha_fin', this.fecha_fin);
            formData.append('equipo', this.equipo);
            formData.append('division', this.division);
            formData.append('descripcion', this.descripcion);
            formData.append('productos', JSON.stringify(this.productos));
            formData.append('analisis_de_perdidas', JSON.stringify(this.analisis_de_perdidas));
            axios.post('{% url "perdidas:evento_no_planeado" %}',formData).then(function (resultado) {
                //window.location.assign('{% url "perdidas:evento_no_planeado" %}');
            }).catch(function (error) {
                alert("Hubo problemas"+error);
            });
        },
        seleccionarUnidadDeMedida: function(producto){
            unidades = this.unidadesDeMedida.filter(e => producto.fields.unidades_de_medida.includes(e.pk));
            if(unidades.length > 0){
                producto.fields.unidad_de_medida = unidades[0].pk
                return unidades[0].fields.nombre;
            }
            return '';
        },
        buscar: function(producto){
        const vm = this;
            data = {'busqueda' : this.busqueda};
             axios.post('{% url "perdidas:buscar_evento" %}',data).then(function (resultado) {
                vm.eventos = JSON.parse(resultado.data);
            }).catch(function (error) {
                alert("Hubo problemas"+error);
            });
        },
        obtenerRegistros: function(evento){
            const vm = this;
            data = {'evento' : evento.pk};
             axios.post('{% url "perdidas:obtener_registros" %}',data).then(function (resultado) {
                vm.registros = vm.registros.concat(JSON.parse(resultado.data));
                vm.registros.forEach(function(element){
                    if(!vm.productos_analisis.includes(element.fields.producto)){
                        vm.productos_analisis.push(element.fields.producto)
                    }
                })
            }).catch(function (error) {
                alert("Hubo problemas"+error);
            });
        },
        seleccionarEvento: function(evento){
            this.analisis_de_perdidas.push(evento);
            this.obtenerRegistros(evento);
        },
        getProducto: function(pk){
            return this.productos.filter(element => element.pk == pk)[0];
        },
        addFile(e) {
          let droppedFiles = e.dataTransfer.files;
          if(!droppedFiles) return;
          ([...droppedFiles]).forEach(f => { this.files.push({'nombre':'', 'descripcion':'', 'documento':f});});
        },
        removeFile(file){
          this.files = this.files.filter(f => { return f != file;});
        },
        processFile(event) {
          for (var i = 0; i < event.target.files.length; i++) {
            this.files.push({'nombre': this.nombre_adjunto, 'descripcion': this.descripcion_adjunto, 'documento': event.target.files.item(i)});
          }
        },
        cantidadProducto(cantidad) {
          if(cantidad==null){
            return 0;
          }
          return cantidad;
        },
        valorRegistro(producto, evento) {
            producto = this.getProducto(producto);
            valor = this.registros.filter(e => e.fields.evento == evento.pk && e.fields.producto == producto.pk)[0];
            return (valor == null) ? 0 : valor.fields.cantidad;
        },
        consecuencia: function(ocurrencia, consecuencia){
          if(consecuencia==undefined){
            return 1;
          }
          return ocurrencia*consecuencia[1]/100;
        },
        ocurrencia(frecuencia, probabilidad) {
            if(frecuencia==undefined || probabilidad==undefined){
              return 1;
            }
            porcion = 25/4
            o = frecuencia[1]*probabilidad[1]
            if(o > porcion*3){
              return 4;
            }else if(o > porcion*2){
              return 3;
            }else if(o > porcion){
              return 2;
            }else{
              return 1;
            }

        },
        color(frecuencia, probabilidad) {
            porcion = 25/4
            if(frecuencia==undefined || probabilidad==undefined){
              return 'verde';
            }
            o = frecuencia[1]*probabilidad[1]
            if(o > porcion*3){
              return 'rojo';
            }else if(o > porcion*2){
              return 'naranjado';
            }else if(o > porcion){
              return 'amarillo';
            }else{
              return 'verde';
            }
        },
        colorPonderado(ocurrencia, consecuencia) {
            if(consecuencia == undefined){
              return 'verde';
            }
            ponderado = this.consecuencia(ocurrencia, consecuencia);
            if(ponderado > 0.16){
              return 'rojo';
            }else if(ponderado > 0.08){
              return 'naranjado';
            }else if(ponderado > 0.04){
              return 'amarillo';
            }else{
              return 'verde';
            }
        }

    }
})
</script>
{% endblock %}