{% load i18n %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#informationModal">
            {% trans 'Root Cause Analisis' %}
        </button>
        <div class="row">
        {% crispy investigation_form %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a  data-toggle="tab" class="btn btn-primary pull-right" href="#causal_factors">{% trans 'Siguiente' %}</a>
        </br>
        </br>
    </div>
</div>