{% load i18n %}
{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="significanciaModal" tabindex="-1" role="dialog" aria-labelledby="significanciaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="significanciaModalLabel">{% trans 'significancia' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          </br>
          <table class="table table-striped">
              <div v-for="etiqueta in etiquetas">
                  <h3>[[ etiqueta.fields.nombre ]]</h3>
                  <tr>
                      <td>{% trans 'Porciento' %}</td>
                      <td>{% trans 'Nombre' %}</td>
                      <td>{% trans 'Consecuencia' %}</td>
                      <td>{% trans 'Frecuencia' %}</td>
                      <td>{% trans 'Probabilidad' %}</td>
                      <td>{% trans 'Ocurrencia' %}</td>
                      <td>{% trans 'Ponderado' %}</td>
                  </tr>
                  <tr v-for="categoria in categorias" if="categoria.fields.etiqueta==etiqueta.pk">
                      <td>[[ categoria.fields.peso ]]%</td>
                      <td>[[ categoria.fields.nombre ]]</td>
                      <td>
                          <select v-model="categoria.consecuencia" class="form-control">
                              <option v-for="consecuencia in consecuencias" v-if="consecuencia.fields.categoria==categoria.pk" :value="[consecuencia.pk, consecuencia.fields.peso]">
                                  [[ consecuencia.fields.nombre ]]
                              </option>
                          </select>
                      </td>
                      <td>
                          <select v-model="categoria.frecuencia" class="form-control">
                              <option v-for="frecuencia in frecuencias" :value="[frecuencia.pk, frecuencia.fields.peso]">
                                  [[ frecuencia.fields.nombre ]]
                              </option>
                          </select>
                      </td>
                      <td>
                          <select v-model="categoria.probabilidad" class="form-control">
                              <option v-for="probabilidad in probabilidades" :value="[probabilidad.pk, probabilidad.fields.peso]">
                                  [[ probabilidad.fields.nombre ]]
                              </option>
                          </select>
                      </td>
                      <td>
                          <div :class="color(categoria.frecuencia, categoria.probabilidad)">
                              <center>[[ ocurrencia(categoria.frecuencia, categoria.probabilidad) ]]</center>
                          </div>
                      </td>
                      <td>
                          <div :class="colorPonderado(ocurrencia(categoria.frecuencia, categoria.probabilidad), categoria.consecuencia)">
                              <center>[[ consecuencia(ocurrencia(categoria.frecuencia, categoria.probabilidad), categoria.consecuencia) ]]</center>
                          </div>
                      </td>
                  </tr>
              </div>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#analisisModal">Atras</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#criteriaModal">Siguiente¢</button>
      </div>
    </div>
  </div>
</div>