{% extends "templates/lista.html" %}
{% load i18n %}
{% block titulo %}{% trans 'Accion correctiva Lista' %}{% endblock %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'iso_failure_cat:metodo_de_deteccion_crear' %}">
    <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
        <th>{% trans 'Nombre' %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for sucursal in object_list %}
    <tr>
    <td> {{ sucursal.nombre }}</td>
    </tr>
    {% endfor %}
{% endblock %}