{% extends "index.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="container">
    <div class="section no-pad-bot" id="index-banner">
      <h3 class="header center orange-text">{% trans 'Metodo de deteccion' %}</h3>
      <div class="row center">
        <h1>{{ object.nombre }}</h1>
        <p>{% trans 'Contacto: ' %}{{ object.contacto }}</p>
        <p>{% trans 'Telefono: ' %}{{ object.telefono }}</p>
        <p>{% trans 'Celular: ' %}{{ object.celular }}</p>
        <p>{% trans 'Dirección: ' %}{{ object.direccion }}</p>
          <a class="btn btn-sm btn-warning pull-right" href="{% url 'empresa:sucursal_borrar' object.pk %}">
              <i class="material-icons">delete</i>
          </a>
          <a class="btn btn-sm btn-warning pull-right" href="{% url 'empresa:sucursal_actualizar' object.pk %}">
              <i class="material-icons">edit</i>
          </a>
      </div>
      <br><br>
    </div>
</div>
{% endblock %}
