/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.rojo {
  background-color: #FF5233;
}

.azul {
  background-color: #265DAD;
}


.morado {
  background-color: #A569BD;
}

.naranjado {
  background-color: #FFB833;
}

.amarillo {
  background-color: #FFFF33;
}

.verde {
  background-color: #64FF33;
}

.icon-block .material-icons {
	font-size: inherit;
}
