<div class="modal fade" id="c{{ grupo.pk }}Mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ grupo }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if grupo.imagen %}
        <img src="{{ grupo.imagen.url }}" width="30%">
        {% endif %}
        {{ grupo.descripcion }}
      </div>
      <div class="modal-footer">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="votante" value="{{ votante.pk }}">
            <input type="hidden" name="grupo" value="{{ grupo.pk }}">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Confirmar voto</button>
        </form>
      </div>
    </div>
  </div>
</div>
