{% extends "index.html" %}
{% load i18n %}
{% block menu %}{% include 'menu.html' %}{% endblock %}
{% block contenido %}
<div class="container">
    <div class="section no-pad-bot" id="index-banner">
      <h3 class="header center orange-text bg-info">{{ object.nombre }} - {{ object.votacion.nombre }}</h3>
      <div class="row center">
      {% if object and object.votacion.tipo_de_votacion == 'unico' and object.pk %}
        </br>
        <div class="row">
            <div class="col-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>Lista de candidatos</h6>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#candidatoModal">
                            Nuevo candidato
                        </button>
                        </br>
                        <hr>
                    </div>
                    <div class="panel-body">                        
                        {% for elemento in object.candidato_set.all %}
                        <div class="row">                            
                            {% if elemento.imagen %}
                            <div class="col-3"><img src="{{ elemento.imagen.url }}" width="100%"></div>
                            {% endif %}
                            <div class="col-9">
                            <form action="{% url 'util:candidato_actualizar' elemento.pk %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ object.pk }}" name="grupo">
                                    <input type="text" value="{{ elemento.nombre }}" name="nombre" class="form-control">
                                    <div class="row">
                                    <div class="col-7">
                                    <div class="custom-file">
                                        <input type="file" name="imagen" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                    </div>
                                    <div class="col-5">                                    
                                    <button class="btn btn-sm btn-secondary">
                                    <i class="fa fa-save"></i></button>
                                    <a  class="btn btn-sm btn-secondary" href="{% url 'util:candidato_borrar' elemento.pk %}">
                                    <i class="fa fa-trash"></i>
                                    </a>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        {% include 'util/nuevo_candidato.html' %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>Lista de propuestas</h6>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#propuestaModal">
                            Nueva propuesta
                        </button>
                        </br>
                        <hr>
                    </div>
                    <div class="panel-body">
                        {% for elemento in object.propuesta_set.all %}
                        <form action="{% url 'util:propuesta_actualizar' elemento.pk %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" value="{{ object.pk }}" name="grupo">
                                <input type="text" value="{{ elemento.nombre }}" name="nombre" class="form-control">
                                <textarea class="form-control" name="descripcion">
                                {{ elemento.descripcion }}
                                </textarea>
                                <div class="row">
                                <div class="col-7">
                                <div class="custom-file">
                                    <input type="file" name="documento" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                </div>
                                <div class="col-5">                                
                                <button class="btn btn-sm btn-secondary"><i class="fa fa-save"></i></button>
                                <a  class="btn btn-sm btn-secondary" href="{% url 'util:propuesta_borrar' elemento.pk %}"><i class="fa fa-trash"></i></a>
                                </div>
                                </div>
                            </form>
                            <hr>
                        {% endfor %}
                        {% include 'util/nueva_propuesta.html' %}                        
                    </div>
                </div>
            </div>
        </div>        
    {% endif %}
    </div>
    <a class="btn btn-primary float-right" href="{% url 'util:votacion_actualizar' object.votacion.pk %}">Terminar</a>
</div>
{% endblock %}
