<div class="modal fade" id="propuestaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nueva propuesta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <form action="{% url 'util:propuesta_crear' %}" method="post" enctype="multipart/form-data">
      <div class="modal-body">       
        {% csrf_token %}
        <input type="hidden" value="{{ object.pk }}" name="grupo">
        <input type="text" name="nombre" class="form-control">
        <textarea class="form-control" name="descripcion"></textarea>
        <div class="custom-file">
            <input type="file" name="documento" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-secondary">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>
