<div class="modal fade" id="candidatoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo candidato</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'util:candidato_crear' %}" method="post" enctype="multipart/form-data">
      <div class="modal-body">        
        {% csrf_token %}
        <input type="hidden" value="{{ object.pk }}" name="grupo">
            <input type="text" name="nombre" class="form-control">
            <div class="custom-file">
                <input type="file" name="imagen" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-secondary">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>
