<div class="modal fade" id="g{{ grupo.pk }}Mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Propuestas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
        {% for propuesta in grupo.propuesta_set.all %}
            <li>
                <h5>{{ propuesta }}</h5>
                <p>{{ propuesta.descripcion }}</p>
                <a href="{{ propuesta.imagen.url }}" target="_blank">Descargar</a>
            </li>
        {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
