{% extends "index.html" %}
{% block contenido %}
    </br>    
    <div class="container bg-info">
        <center>
            <h4>{{ votacion }}</h4>
        </center>        
    </div>
    <div class="container">    
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="row">
            {% for grupo in grupos %}
                <div class="col-md-3 col-sm-6 mb-2">
                    <div class="card" style="width: 11rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ grupo.nombre }}</h5>
                        <p class="card-text">                       
                            {% if votacion.tipo_de_votacion == 'individual' %}
                                {% if grupo.votar_como == 'si_no' %}
                                    SI: {{ grupo.numero_votos_a_favor }}</br>
                                    NO: {{ grupo.numero_votos_en_contra }}
                                {% elif grupo.votar_como == 'a_favor_en_contra' %}
                                    A FAVOR: {{ grupo.numero_votos_a_favor }}</br>
                                    EN CONTRA: {{ grupo.numero_votos_en_contra }}
                                {% elif grupo.votar_como == 'acuerdo_desacuerdo' %}
                                    ACUERDO: {{ grupo.numero_votos_a_favor }}</br>
                                    DESACUERDO: {{ grupo.numero_votos_en_contra }}
                                {% endif %}
                            {% else %}
                                <b>Votos a favor:</b> {{ grupo.voto_set.all.count }}</br>
                            {% endif %}
                        </p>
                    </div>
                    </div>          
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h6>
                Votos: {{ votacion.voto_set.all.count }} - Quorum: {{ votacion.quorum }}
            </h6>
            <hr>
            <div class="row">
                <div class="col-6">
                    <h5>SECRETO</h5>
                </div>
                <div class="col-6">
                    <h5>VOTO</h5>
                </div>
            </div>
            {% for voto in votacion.voto_set.all %}
                <div class="row">
                    <div class="col-3">
                        {{ voto.votante.secreto|slice:"-5:" }}
                    </div>
                    <div class="col-9">
                        {{ voto.grupo.nombre|slice:":20" }}
                        {% if votacion.tipo_de_votacion == 'individual' %}
                            {% if voto.a_favor %}
                                {% if voto.grupo.votar_como == 'si_no' %}
                                    :SI
                                {% elif voto.grupo.votar_como == 'a_favor_en_contra' %}
                                    :A FAVOR
                                {% elif voto.grupo.votar_como == 'acuerdo_desacuerdo' %}
                                    :ACUERDO
                                {% endif %}
                            {% elif voto.en_contra %}
                                {% if voto.grupo.votar_como == 'si_no' %}
                                    :NO
                                {% elif voto.grupo.votar_como == 'a_favor_en_contra' %}
                                    :EN CONTRA
                                {% elif voto.grupo.votar_como == 'acuerdo_desacuerdo' %}
                                    :DESACUERDO
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}            
        </div>
    </div>
    </div>
{% endblock %}
