{% extends "index.html" %}
{% block contenido %}
    <div class="container">
    </br>
    <h3 class="bg-warning">{{ mensaje }}</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i>Identificación votante
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="votacion" value="{{ votacion.pk }}">
                <div class="form-group">
                    <label for="cedula">Cedula</label>
                    <input type="text" class="form-control" id="cedula" name="cedula">
                </div>
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
