{% extends "index.html" %}
{% block contenido %}
    </br>    
    <div class="container bg-info">
        <center>
            <h3>{{ votacion }}</h3>
        </center>        
    </div>
    <div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row">
        {% for grupo in votacion.grupo_set.all %}
            <div class="col-md-6">
                <div class="card" style="width: 35rem; height: 15rem">
                <div class="card-body">
                    <h5 class="card-title">{{ grupo.nombre }}</h5>
                    <p class="card-text">
                        {{ grupo.descripcion }}
                    </p> 
                    <ul class="list-group list-group-flush">
                        {% for candidato in grupo.candidato_set.all %}                        
                            <li class="list-group-item">
                                {% if candidato.imagen %}
                                <img src="{{ candidato.imagen.url }}" width="30">
                                {% endif %}
                                {{ candidato }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if grupo.imagen %}
                    <a href="{{ grupo.imagen.url }}" target="_blank">Documento</a>
                    {% endif %}
                    {% if grupo.votar_como == 'si_no' %}
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="radio{{ grupo.pk }}" id="radio{{ grupo.pk }}1" value="1">
                                SI
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="radio{{ grupo.pk }}" id="radio{{ grupo.pk }}2" value="0">
                                NO
                            </label>
                        </div>
                    {% elif grupo.votar_como == 'a_favor_en_contra' %}
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="radio{{ grupo.pk }}" id="radio{{ grupo.pk }}1" value="1">
                                A FAVOR
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="radio{{ grupo.pk }}" id="radio{{ grupo.pk }}2" value="0">
                                EN CONTRA
                            </label>
                        </div>
                    {% elif grupo.votar_como == 'acuerdo_desacuerdo' %}
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="radio{{ grupo.pk }}" id="radio{{ grupo.pk }}1" value="1">
                                ACUERDO
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="radio{{ grupo.pk }}" id="radio{{ grupo.pk }}2" value="0">
                                DESACUERDO
                            </label>
                        </div>
                    {% endif %}                
                </div>
                </div>          
            </div>
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
            </br>
            <button type="submit" class="btn btn-primary float-right">Confirmar</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}
