{% extends "index.html" %}
{% block contenido %}
    </br>    
    <div class="container">
        <center>
            <h1>{{ votacion }}</h1>
        </center>        
    </div>
    <div class="container">
    <div class="row">
    {% for grupo in votacion.grupo_set.all %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ grupo.nombre }}</h5>
                {% if grupo.imagen %}
                <img class="card-img-top" src="{{ grupo.imagen.url }}" alt="Card image cap" width="200">
                {% endif %}
                <p class="card-text">
                    {{ grupo.descripcion }}
                </p> 
                <ul class="list-group list-group-flush">
                    {% for candidato in grupo.candidato_set.all %}                        
                        <li class="list-group-item">
                            {% if candidato.imagen %}
                            <img src="{{ candidato.imagen.url }}" width="30">
                            {% endif %}
                            {{ candidato }}
                        </li>
                    {% endfor %}
                </ul>
                {% include 'util/propuesta_targeton.html' %}
                {% include 'util/confirmar_targeton.html' %}
                <a href="#" class="card-link" data-toggle="modal" data-target="#g{{ grupo.pk }}Mod">
                    Ver propuestas
                </a>
                <a href="#" class="card-link btn btn-primary" data-toggle="modal" data-target="#c{{ grupo.pk }}Mod">
                    Votar
                </a>
            </div>
            </div>          
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
