{% extends "templates/formulario.html" %}
{% load static %}
{% load i18n %}
{% block titulo %}{% trans 'Formulario votacion' %}{% endblock %}
{% block tabla_asociados %}
{% if form.instance and form.instance.pk %}
    </br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                {% if form.instance and form.instance.tipo_de_votacion == 'unico' %}
                    {% trans 'Lista grupos' %}
                {% else %}
                    {% trans 'Lista propuestas' %}
                {% endif %}
                <a class="btn btn-sm btn-primary float-right" href="{% url 'util:grupo_votacion_crear' form.instance.pk %}">
                    <i class="fa fa-plus"></i>
                    {% if form.instance and form.instance.tipo_de_votacion == 'unico' %}
                        {% trans 'Nuevo grupo' %}
                    {% else %}
                        {% trans 'Nueva propuesta' %}
                    {% endif %}
                </a>
            </h3>
        </div>
        <div class="panel-body">            
            {% for elemento in form.instance.grupo_set.all %}
                <div class="row">
                    <div class="col-3">
                    {% if elemento.imagen %}
                    <img src="{{ elemento.imagen.url }}" width="100%"></div>
                    {% endif %}
                    <div class="col-9">
                        <h5>{{ elemento.nombre }}</h5>
                        <p>
                            {{ elemento.descripcion }}
                            <a class="float-right" href="{% url 'util:grupo_actualizar' elemento.pk %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="float-right" href="{% url 'util:grupo_borrar' elemento.pk %}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </p>
                        
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>  
    <h6>Importar votantes - 
        <a href="#" data-toggle="modal" data-target="#exampleModal">
        actualmente: {{ form.instance.votante_set.all|length }}
        </a>
    </h6>
    <a href="{% static 'site/formato_votantes.xlsx' %}" target="_blank">Descargar Formato</a>
    <form method="post" enctype="multipart/form-data" action="{% url 'util:importar_votantes' %}">     
        {% csrf_token %}
        <input type="hidden" name="accion" value="importar_votantes">
        <input type="hidden" name="votacion" value="{{ form.instance.pk }}">
        <input type="file" name="votantes" class="form-control">
        <button type="submit" class="btn btn-sm btn-secondary float-right">Importar</button>
    </form>
    </br>
    <hr>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Votantes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        
            <a class="btn btns-sm btn-primary float-right" href="{% url 'reenviar_correos' form.instance.pk %}">
                <i class="fa fa-paper-plane"></i>
            </a>
            </br>
            <hr>
            {% for elemento in form.instance.votante_set.all %}
                <div class="row">
                    <div class="col-12 {% if not elemento.notificado_email %}bg-light{% endif %}">
                        <h5>{{ elemento.nombre }}</h5>
                        <p>
                            <a class="btn btns-sm btn-secondary float-right" href="{% url 'util:votante_actualizar' elemento.pk %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btns-sm btn-secondary float-right" href="{% url 'util:votante_borrar' elemento.pk %}">
                                <i class="fa fa-trash"></i>
                            </a>
                            {% if elemento.secreto %}
                                <a class="btn btns-sm btn-secondary float-right" href="{% url 'notificar_correo' elemento.secreto %}">
                                    <i class="fa fa-paper-plane"></i>
                                </a>
                                <a class="btn btns-sm btn-secondary float-right" href="{% url 'notificar_sms' elemento.secreto %}">
                                    <i class="fa fa-mobile"></i>
                                </a>
                            {% endif %}
                        </p>                
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
    </div>
    
{% endif %}
{% endblock %}

