{% extends "templates/lista.html" %}
{% load i18n %}
{% block titulo %}{% trans 'Votacion Lista' %}{% endblock %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-secondary float-right" href="{% url 'seguridad:fin_session' %}">
        <i class="fa fa-exit"></i>Salir
    </a>
    <a class="btn btn-sm btn-primary float-right" href="{% url 'util:votacion_crear' %}">
        <i class="fa fa-plus"></i>Nueva Lista
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr class="bg-info">
        <th>{% trans 'Nombre' %}</th>
        <th>{% trans 'Fecha apertura' %}</th>
        <th>{% trans 'Fecha cierre' %}</th>
        <th>{% trans 'Opciones' %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for votacion in object_list %}
        <tr>
        <td> {{ votacion.nombre }}</td>
        <td> {{ votacion.fecha_apertura }}</td>
        <td> {{ votacion.fecha_cierre }}</td>
        <td>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'util:votacion_actualizar' votacion.pk %}">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'util:votacion_borrar' votacion.pk %}">
            <i class="fa fa-trash"></i>
          </a>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'util:votacion_resultado' votacion.codigo %}">
            <i class="fa fa-link"></i>
          </a>
        </td>
        </tr>
    {% endfor %}
{% endblock %}
