{% extends "templates/lista.html" %}
{% load i18n %}
{% block titulo %}{% trans 'Votacion Lista' %}{% endblock %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'util:votacion_crear' %}">
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
        <th>{% trans 'Nombre' %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for votacion in object_list %}
        <tr>
        <td> {{ votacion.nombre }}</td>
        <td>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'util:votacion_actualizar' votacion.pk %}">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'util:votacion_borrar' votacion.pk %}">
            <i class="fa fa-trash"></i>
          </a>
        </td>
        </tr>
    {% endfor %}
{% endblock %}
