{% extends "templates/lista.html" %}
{% load i18n %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'empresa:usuario_crear' object.pk %}">
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
        <th>{% trans 'Nombres' %}</th>
        <th>{% trans 'Apellidos' %}</th>
        <th>{% trans 'Username' %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for usuario in object_list %}
        <tr>
          <td> {{ usuario.user.first_name }}</td>
          <td> {{ usuario.user.last_name }}</td>
          <td> {{ usuario.user.username }}</td>
          <td>

          </td>
        </tr>
    {% endfor %}
{% endblock %}
