{% extends "templates/lista.html" %}
{% load i18n %}
{% block titulo %}{% trans 'Producto Lista' %}{% endblock %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'empresa:sucursal_crear' %}">
    <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
        <th>{% trans 'Nombre' %}</th>
        <th>{% trans 'Contacto' %}</th>
        <th>{% trans 'Telefono' %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for sucursal in object_list %}
    <tr>
    <td> {{ sucursal.nombre }}</td>
    <td> {{ sucursal.contacto }}</td>
    <td> {{ sucursal.telefono }}</td>
    <td>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'empresa:sucursal_detalle' sucursal.pk %}">
        <i class="fa fa-group"></i>
      </a>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'empresa:sucursal_actualizar' sucursal.pk %}">
        <i class="fa fa-edit"></i>
      </a>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'empresa:sucursal_borrar' sucursal.pk %}">
        <i class="fa fa-trash"></i>
      </a>
    </td>
    </tr>
    {% endfor %}
{% endblock %}

