<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans 'Votaciones' %}</title>
    <link href="{% static 'site/bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'site/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" type="text/css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
    {% block menu %}{% endblock %}
    {% block cuerpo_total %}
    <div id="app">
        <div id="page-wrapper">
                <div class="container">                    
                    {% block contenido %}{% endblock %}
                </div>
            
        </div>
    </div>
    <!-- /#wrapper -->
    <script src="{% static 'site/jquery/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="{% static 'site/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'site/vue/vue.js' %}"></script>
    <script src="{% static 'site/vue/vue.js' %}"></script>
    <script src="{% static 'site/axios/axios.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
        {% block scripts %}
        {% endblock %}
    {% endblock %}
</body>

</html>
