{% extends "templates/lista.html" %}
{% load i18n %}
{% block titulo %}{% trans 'Area Lista' %}{% endblock %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'fault_origin:area_crear' %}">
    <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
        <th>{% trans 'Nombre' %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for area in object_list %}
    <tr>
    <td> {{ area.nombre }}</td>
    <td>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'fault_origin:area_detalle' area.pk %}">
          <i class="fa fa-caret-right"></i>
      </a>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'fault_origin:area_actualizar' area.pk %}">
        <i class="fa fa-edit"></i>
      </a>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'fault_origin:area_borrar' area.pk %}">
        <i class="fa fa-trash"></i>
      </a>
    </td>
    </tr>
    {% endfor %}
{% endblock %}


