{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="container">
    <div class="section no-pad-bot" id="index-banner">
      <h3 class="header center orange-text">{{ object.nombre }}</h3>
      <br><br>
    </div>
</div>
{% endblock %}
