{% extends "templates/lista.html" %}
{% load i18n %}
{% block titulo %}{% trans 'Equipo Lista' %}{% endblock %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'fault_origin:equipo_crear' %}">
    <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
    <th>Grupo</th>
    <th>Nombre</th>
    <th>Etiqueta</th>
    <th></th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for equipo in object_list %}
    <tr>
    <td> {{ equipo.grupo.nombre }}</td>
    <td> {{ equipo.nombre }}</td>
    <td> {{ equipo.etiqueta }}</td>
    <td>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'fault_origin:equipo_actualizar' equipo.pk %}">
        <i class="fa fa-edit"></i>
      </a>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'fault_origin:equipo_borrar' equipo.pk %}">
        <i class="fa fa-trash"></i>
      </a>
    </td>
    </tr>
    {% endfor %}
{% endblock %}


