{% extends "templates/lista.html" %}
{% load i18n %}
{% block titulo %}{% trans 'Producto Lista' %}{% endblock %}
{% block btn_nuevo %}
    <form action="{% url 'fault_origin:factor_de_causa_importar' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="archivo" type="file" onchange="this.form.submit()">
        <a class="btn btn-sm btn-warning pull-right" href="{% url 'fault_origin:factor_de_causa_crear' %}">
        <i class="fa fa-plus"></i>
        </a>
    </form>
{% endblock %}
{% block titulo_tabla %}
    <tr>
    <th>{% trans 'Nombre' %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for factor_de_causa in object_list %}
    <tr>
    <td> {{ factor_de_causa.nombre }}</td>
    <td>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'fault_origin:factor_de_causa_detalle' factor_de_causa.pk %}">
          <i class="fa fa-caret-right"></i>
      </a>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'fault_origin:factor_de_causa_actualizar' factor_de_causa.pk %}">
        <i class="fa fa-edit"></i>
      </a>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'fault_origin:factor_de_causa_borrar' factor_de_causa.pk %}">
        <i class="fa fa-trash"></i>
      </a>
    </td>
    </tr>
    {% endfor %}
{% endblock %}