{% extends "templates/lista.html" %}
{% load i18n %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'fault_origin:equipo_crear_grupo' object.pk %}">
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
    <th>{% trans 'Nombre' %}</th>
    <th>{% trans 'Etiqueta' %}</th>
    <th></th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for equipo in object.equipo_set.all %}
    <tr>
    <td> {{ equipo.nombre }}</td>
    <td> {{ equipo.etiqueta }}</td>
    <td>
      <a class="btn-small waves-effect waves-light orange" href="{% url 'fault_origin:equipo_detalle' equipo.pk %}">
          <i class="fa fa-caret-right"></i>
      </a>
    </td>
    </tr>
    {% endfor %}
{% endblock %}
