{% extends "templates/lista.html" %}
{% load i18n %}
{% block titulo %}{% trans 'Equivalencia Lista' %}{% endblock %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'administracion:equivalencia_crear' %}">
    <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
        <th>{% trans 'Unidad origen' %}</th>
        <th>{% trans 'Unidad destino' %}</th>
        <th>{% trans 'Valor' %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for equivalencia in object_list %}
        <tr>
            <td> {{ equivalencia.unidad_origen }}</td>
            <td> {{ equivalencia.unidad_destino }}</td>
            <td> {{ equivalencia.valor }}</td>
            <td>
              <a class="btn-small waves-effect waves-light orange" href="{% url 'administracion:equivalencia_actualizar' equivalencia.pk %}">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn-small waves-effect waves-light orange" href="{% url 'administracion:equivalencia_borrar' equivalencia.pk %}">
                <i class="fa fa-trash"></i>
              </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
