{% extends "templates/lista.html" %}
{% load i18n %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'administracion:unidad_de_medida_sistema' object.pk %}">
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
        <th>{% trans 'Sistema de medida' %}</th>
        <th>{% trans 'Unidad de medida' %}</th>
        <th>{% trans 'Abreviación' %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for unidad_de_medida in object_list %}
        <tr>
          <td> {{ unidad_de_medida.sistema_de_medida.nombre }}</td>
          <td> {{ unidad_de_medida.nombre }}</td>
          <td> {{ unidad_de_medida.abreviacion }}</td>
          <td>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'administracion:unidad_de_medida_actualizar' unidad_de_medida.pk %}">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'administracion:unidad_de_medida_borrar' unidad_de_medida.pk %}">
            <i class="fa fa-trash"></i>
          </a>
          </td>
        </tr>
    {% endfor %}
{% endblock %}
