{% extends "templates/lista.html" %}
{% load i18n %}
{% block titulo %}{% trans 'Producto Lista' %}{% endblock %}
{% block btn_nuevo %}
    <a class="btn btn-sm btn-warning pull-right" href="{% url 'administracion:sistema_de_medida_crear' %}">
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block titulo_tabla %}
    <tr>
        <th>{% trans "Nombre" %}</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for sistema_de_medida in object_list %}
    <tr>
      <td> {{ sistema_de_medida.nombre }}</td>
      <td>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'administracion:sistema_de_medida_detalle' sistema_de_medida.pk %}">
            <i class="fa fa-caret-right"></i>
          </a>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'administracion:sistema_de_medida_actualizar' sistema_de_medida.pk %}">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-small waves-effect waves-light orange" href="{% url 'administracion:sistema_de_medida_borrar' sistema_de_medida.pk %}">
            <i class="fa fa-trash"></i>
          </a>
      </td>
    </tr>
    {% endfor %}
{% endblock %}
