{% extends "index.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="container">
    <div class="section no-pad-bot" id="index-banner">
      <h3 class="header center orange-text">{% trans 'Unidad de medida detalle' %}</h3>
      <div class="row center">
        <h1>{{ object.nombre }}</h1>
        <p>Sistema de medida: {{ object.sistema_de_medida.nombre }}</p>
        <p>Abreviación: {{ object.abreviacion }}</p>
          <a class="btn btn-sm btn-warning pull-right" href="{% url 'administracion:unidad_de_medida_borrar' object.pk %}">
              <i class="material-icons">delete</i>
          </a>
          <a class="btn btn-sm btn-warning pull-right" href="{% url 'administracion:unidad_de_medida_actualizar' object.pk %}">
              <i class="material-icons">edit</i>
          </a>
      </div>
      <br><br>
    </div>
</div>
{% endblock %}
